<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cấu hình | Quản trị viên</title>
    <link rel="stylesheet" href="/static/css/Nhap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-left">
        <div class="header-left-logo">
          <div class="header-left-icon">
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <div class="header-left-title">Edu-LIMS</div>
        </div>
        <div class="header-left-describe">
          Hệ thống công tác thực hành tin học
        </div>
      </div>

      <div class="header-right">
        <div class="header-label">
          <i class="fa-solid fa-bell"></i>
        </div>
        <div class="header-user" id="headerUser">
          <div class="header-avt">
            <img src="{{avt}}" alt="" />
          </div>
          <div class="navbar-arrow">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>
      </div>
    </header>
    <!-- navbar -->
    <div class="navbar-container" id="navbarContainer">
      <div class="navbar-user-container">
        <a href="">
          <div class="navbar-user-avt">
            <img src="{{avt}}" alt="" />
          </div>
          <div class="navbar-user-name">
            <p>{{ user[1] }}</p>
            <p>Quản trị viên</p>
          </div>
        </a>
      </div>
      <div class="navbar-box">
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="navbar-item-title">Hồ sơ cá nhân</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-display"></i>
              </div>
              <div class="navbar-item-title">Phần mềm</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-download"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-display"></i>
              </div>
              <div class="navbar-item-title">Cấu hình máy</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-user-gear"></i>
              </div>
              <div class="navbar-item-title">Tài khoản</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-users"></i>
              </div>
              <div class="navbar-item-title">Cán bộ</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-chalkboard-user"></i>
              </div>
              <div class="navbar-item-title">Giảng viên</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-file-lines"></i>
              </div>
              <div class="navbar-item-title">Duyệt yêu cầu</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-regular fa-calendar-days"></i>
              </div>
              <div class="navbar-item-title">Lịch thực hành</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-logout">
        <a href="/logout">
          <div class="navbar-logout-icon">
            <i class="fa-solid fa-right-from-bracket"></i>
          </div>
          <div class="navbar-logout-title">Đăng xuất</div>
        </a>
      </div>
    </div>

    <!-- body -->

    <div class="config-container">
      <div class="direction">
        <a href="/admin">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/admin/config">Cấu hình máy</a>
      </div>

      <!-- search -->
      <form method="get" action="/admin/config">
        <div class="config-search-box">
          <input
            type="text"
            name="keyword"
            id=""
            placeholder="Tìm kiếm theo CPU, RAM, ..."
            value="{{ keyword or '' }}"
          />
          <button type="submit" class="submit-config-search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="config-add-act">
          <i class="fa-solid fa-plus"></i>
          Thêm cấu hình
        </div>
      </form>

      <!-- add config -->
      <div class="config-add-container"></div>

      <!-- config-list -->
      <div class="config-table">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Mã cấu hình</th>
              <th>CPU</th>
              <th>RAM</th>
              <th>Ổ cứng</th>
              <th>Card màn hình</th>
              <th>Thao tác</th>
            </tr>
          </thead>

          <tbody>
            {% set start_index = (page - 1) * per_page %} {%for config in
            configs%}
            <tr>
              <td>{{ start_index + loop.index }}</td>
              <td>CH{{ config[0] }}</td>
              <td>{{ config[1] }}</td>
              <td>{{ config[2] }}</td>
              <td>{{ config[3] }}</td>
              <td>{{ config[4] }}</td>
              <td>
                <div class="see-detail-act">
                  <i class="fa-solid fa-eye"></i>
                  Xem chi tiết
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- config-page -->
      <div class="config-page">
        {% set page_number = (page - 1) * per_page %}
        <span
          >Hiển thị {{ page_number + 1 }} - {% if page_number + per_page >
          amount %} {{ amount }} {% else %} {{ page_number + per_page }} {%
          endif %}của tổng {{ amount }} cấu hình</span
        >
        <div class="pagination">
          <div class="config-previous-page">
            {% if (page - 1) > 0 %}
            <a href="/admin/config?page={{ page - 1 }}&keyword={{ keyword }}"
              ><i class="fa-solid fa-chevron-left"></i
            ></a>
            {% else %}
            <span><i class="fa-solid fa-chevron-left"></i></span>
            {% endif %}
          </div>
          <div class="config-number-page">{{ page }}</div>
          {% if amount > (page * per_page) %}
          <div class="config-next-page">
            <a href="/admin/config?page={{ page + 1 }}&keyword={{ keyword }}"
              ><i class="fa-solid fa-chevron-right"></i
            ></a>
            {% else %}
            <span><i class="fa-solid fa-chevron-right"></i></span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
