<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ | Quản trị viên</title>

    <link rel="stylesheet" href="/static/css/Nhap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-left">
        <div class="header-left-logo">
          <div class="header-left-icon">
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <div class="header-left-title">Edu-LIMS</div>
        </div>
        <div class="header-left-describe">
          Hệ thống công tác thực hành tin học
        </div>
      </div>

      <div class="header-right">
        <div class="header-label">
          <i class="fa-solid fa-bell"></i>
        </div>
        <div class="header-user" id="headerUser">
          <div class="header-avt">
            <img src="{{avt}}" alt="" />
          </div>
          <div class="navbar-arrow">
            <i class="fa-solid fa-caret-down"></i>
          </div>
        </div>
      </div>
    </header>
    <!-- navbar -->
    <div class="navbar-container" id="navbarContainer">
      <div class="navbar-user-container">
        <a href="">
          <div class="navbar-user-avt">
            <img src="{{avt}}" alt="" />
          </div>
          <div class="navbar-user-name">
            <p>{{ user[1] }}</p>
            <p>Quản trị viên</p>
          </div>
        </a>
      </div>
      <div class="navbar-box">
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="navbar-item-title">Hồ sơ cá nhân</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-display"></i>
              </div>
              <div class="navbar-item-title">Phần mềm</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-download"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="/admin/config">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-display"></i>
              </div>
              <div class="navbar-item-title">Cấu hình máy</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-user-gear"></i>
              </div>
              <div class="navbar-item-title">Tài khoản</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-users"></i>
              </div>
              <div class="navbar-item-title">Cán bộ</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-chalkboard-user"></i>
              </div>
              <div class="navbar-item-title">Giảng viên</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-solid fa-file-lines"></i>
              </div>
              <div class="navbar-item-title">Duyệt yêu cầu</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
        <div class="navbar-item">
          <a href="">
            <div class="navbar-item-name">
              <div class="navbar-item-icon">
                <i class="fa-regular fa-calendar-days"></i>
              </div>
              <div class="navbar-item-title">Lịch thực hành</div>
            </div>
            <div class="navbar-item-arrow">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="navbar-logout">
        <a href="/logout">
          <div class="navbar-logout-icon">
            <i class="fa-solid fa-right-from-bracket"></i>
          </div>
          <div class="navbar-logout-title">Đăng xuất</div>
        </a>
      </div>
    </div>

    <!-- body -->

    <div class="grid-dashboard">
      <a href="/admin/config">
        <div class="dashboard-item-icon">
          <i class="fa-solid fa-display"></i>
        </div>
        <div class="dashboard-item-title">Cấu hình máy</div>
      </a>
      <a href="">
        <div class="dashboard-item-icon">
          <i class="fa-solid fa-user-gear"></i>
        </div>
        <div class="dashboard-item-title">Tài khoản</div>
      </a>
      <a href="">
        <div class="dashboard-item-icon">
          <i class="fa-solid fa-users"></i>
        </div>
        <div class="dashboard-item-title">Cán bộ</div>
      </a>
      <a href="">
        <div class="dashboard-item-icon">
          <i class="fa-solid fa-chalkboard-user"></i>
        </div>
        <div class="dashboard-item-title">Giảng viên</div>
      </a>
      <a href="">
        <div class="dashboard-item-icon">
          <i class="fa-solid fa-file-lines"></i>
        </div>
        <div class="dashboard-item-title">Duyệt yêu cầu</div>
      </a>
      <a href="">
        <div class="dashboard-item-icon">
          <i class="fa-regular fa-calendar-days"></i>
        </div>
        <div class="dashboard-item-title">Lịch thực hành</div>
      </a>
    </div>
    <script src="/static/js/auth/navbar.js"></script>
  </body>
</html>
