<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Edu-LIMS | Quản lý thực hành tin học</title>
  </head>

  <body>
    <div class="container-index">
      <div class="index-title">Edu-LIMS</div>
      <div class="index-describe">
        Hệ thống quản lý công tác thực hành tin học tại CICT
      </div>
      <div class="container-act">
        <div class="login-button"><a href="/login">Đăng nhập</a></div>
        <div class="calender-">Xem lịch thực hành</div>
      </div>
    </div>
  </body>
</html>
